<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPfinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <TPfinal.Properties.Settings>
                <setting name="LocationAideAPropos" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="LocationAjoutCircuit" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="LocationModCircuit" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="LocationInfosCircuit" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="LocationSuppCircuit" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="LocationAjoutMonument" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="LocationImageMonument" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="LocationMain" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="DimensionsMain" serializeAs="String">
                        <value>0, 0</value>
                </setting>
                <setting name="DimensionsImageMonument" serializeAs="String">
                        <value>0, 0</value>
                </setting>
        </TPfinal.Properties.Settings>
    </userSettings>
</configuration>